/* ======= Reset básico e variáveis ====== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --corFundo: #ffffff;
  --corTexto: #2b2b2b;
  --textoSuave: #6b6b6b;
  --corBorda: #e9e9e9;
  --cinzaClaro: #f5f6f7;
  --corPrimaria: #038f26;
}

body {
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    Arial,
    sans-serif;
  color: var(--corTexto);
  background: var(--corFundo);
  line-height: 1.4;
}

a {
  text-decoration: none;
}

header{
  height: 55px;
}

.topo{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 12px;
  img{
    width: 250px;
  }

  nav{
    display: flex;
    gap: 12px;
  }

  a{
    color: #2b2b2b;
  }

  .carro{
  width: 30px;
}
}

.anuncio {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 500px;
  background: url("bolsa-wallpaper.jpg");
  background-size: cover;
  background-position: center;
  gap: 12px;

    h1{
      width: 300px;
      margin-left: 250px;
      font-size: 50px;
      font-weight: 400;
      line-height: 1.1;
    }

    p{
      width: 350px;
      margin-left: 250px;
      font-size: 14px;
      line-height: 1.5;
      color: #555;
    }

    button{
      width: 150px;
      height: 40px;
      margin-left: 250px;
      background-color: #038f26;
      color: #e9e9e9;
      border: none;
      cursor: pointer;
    }
}

.cards1,
.cards2,
.cards3 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
}

.cards1 {
  margin-top: 150px;
}

.cards2 {
  margin-top: 100px;
}

.cards3 {
  margin-top: 100px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    text-align: center;

    img {
      width: 180px;
      height: 180px;
      object-fit: contain;
    }

    h1 {
      width: 180px;
      height: 30px;
      margin: 8px 0 0;
      font-size: 20px;
      white-space: nowrap;
    }

    h3 {
      margin: 0;
      font-size: 14px;
    }
}

.redes-sociais{
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 20px;
  align-items: center;
  img{
    width: 25px;
  }
}

.publicidades{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
 nav{
  display: flex;
  gap: 20px;
 }

 a{
  color: #2b2b2b;
 }
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color:#d4d3d3;
  h1{
    font-size: medium;
  }
}